{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <strong>Hello, {{ user.name }}</strong>
    <p>Take a look at your clients scheduled today</p>
  </div>
{% endblock %}
